a {
    color: #7e8592;
    text-decoration: none;
}
body {
    padding: 0px 7px;
    margin: 0px;
}
code {
    background-color: #4c525c;
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #7e8592;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px;
    display: flex;
    align-items: baseline;
}
html {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}
p {
    font-weight: 300;
}

#date {
    font-size: small;
    font-style: italic;
    padding: 0px 10px;
}

#title {
    font-family: 'Staatliches', cursive;
    background-color: #4c525c;
    border-color: #6a7280;
    border-style: none solid;
    border-width: 1px;
    margin: 0px;
    padding: 7px 10px;
}
#title h1 {
    padding: 0px 7px;
    margin: 0px;
}
#title a {
    color: #EEEEEE;
    text-decoration: none;
}

#nav {
    background-color: #424750;
    border-color: #6a7280;
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    margin: 0px;
    padding: 7px 0px;
}
#nav a {
    color: #EEEEEE;
    padding: 7px 20px;
    text-decoration: none;
}
#nav a:hover, #nav a:active {
    background-color: #343841;
    border-radius: 10px;
}

#content {
    background-color: #343841;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #6a7280;
}

.blink {
    animation:1s blinker linear infinite;
}

@keyframes blinker
{  
    0% {opacity: 1.0;}
    49% {opacity: 1.0;}
    50% {opacity: 0.0;}
    99% {opacity: 0.0;}
    100% {opacity: 1.0;}
 }